<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Projet de techno Web CIR2 par Aurélien Rogé, Guillaume Leroy, Marco Fordelone, Théophile Demeulier et Théo Vangheluwe">
    <title>Ship Wars</title>

    <!-- FAVICON -->
    <link rel="icon" href="../public/img/favicon.ico" type="image/ico">

    <!-- CSS -->
    <link rel="stylesheet" href="../public/css/inscription.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/hover.css">
    <link rel="stylesheet" href="../public/css/leaderboard.css">

    <link rel="stylesheet" href="../public/css/util.css">
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="../vendor/animate/animate.css">
    <link rel="stylesheet" href="../vendor/select2/select2.min.css">
    <link rel="stylesheet" href="../vendor/perfect-scrollbar/perfect-scrollbar.css">

    <!-- PT serif -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">

    <!-- FONTAWESOME LIB -->
    <script src="https://kit.fontawesome.com/45e38e596f.js" crossorigin="anonymous"></script>

    <!-- AOS LIB -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body class="backgroundcolor">
    <header class="header-container header-background">
        <nav class="navbar-container navbar-band">
            <a href="index.html"><img class="logo" src="../public/img/logo.png" alt="Logo"></a>
            <a class="hvr-grow hvr-underline-from-center" href="index.html"><i class="fas fa-home"></i>HOME</a>
            <a class="hvr-grow hvr-underline-from-center" href="play.html"><i class="fa fa-fire"
                    aria-hidden="true"></i>PLAY</a>
            <a class="hvr-grow hvr-underline-from-center" href="leaderboard.html"><i class="fas fa-trophy"
                    aria-hidden="true"></i>LEADERBOARD</a>
            <a class="hvr-grow hvr-underline-from-center" href="inscription.html"><i
                    aria-hidden="true"></i>LOG IN</a>
        </nav>
        <div class="header-text">
            <span>Ship Wars</span>
        </div>


    </header>
    <div id="main">
        <div class="svg">
            <svg class="svgh" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#102E56" fill-opacity="1"
                    d="M0,256L60,256C120,256,240,256,360,261.3C480,267,600,277,720,245.3C840,213,960,139,1080,133.3C1200,128,1320,192,1380,224L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">

                </path>
            </svg>
            <svg class="svgh1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#143666" fill-opacity="1"
                    d="M0,96L34.3,85.3C68.6,75,137,53,206,85.3C274.3,117,343,203,411,218.7C480,235,549,181,617,144C685.7,107,754,85,823,101.3C891.4,117,960,171,1029,192C1097.1,213,1166,203,1234,192C1302.9,181,1371,171,1406,165.3L1440,160L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z">
                    >
                </path>
            </svg>
            <svg class="svgh2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#0b2545" fill-opacity="1"
                    d="M0,256L26.7,256C53.3,256,107,256,160,218.7C213.3,181,267,107,320,90.7C373.3,75,427,117,480,160C533.3,203,587,245,640,256C693.3,267,747,245,800,234.7C853.3,224,907,224,960,213.3C1013.3,203,1067,181,1120,181.3C1173.3,181,1227,203,1280,192C1333.3,181,1387,139,1413,117.3L1440,96L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z">
                </path>
            </svg>
        </div>
        <h1 class="h1-title">Rules of the game</h1>
        <hr class="line">
        <div class="presentation">
            <div class="imageind"><img class="boatimage" src="../public/img/boat.jpg"></div>
            <div class="game-presentation">
                <p>The goal of the game is simple : Sink all your opponent's ships before he sinks yours !  </p><br>
                <p>You are given a grid with randomly placed ships. Now the game can start, each of you takes turn shooting at one of the slots on the grid. If one of the ships is on the square you shot the ship is hit and you can keep shooting. Otherwise it's a miss and it's up to your opponent. If the whole ship is hit, the ship sinks, so you can try to shoot for another ship. If all the ships are sunk, you win the game.
                </p><br><br>
                <p>To attack the opponent's ships, you have access to different weapons during the game: </p><br>
                <p>- A missile that can be used every turn and hits the square clicked by the player</p>
                <p>- The radar which can be used only once per game, it shows the 8 tiles around the tile clicked on, for a total of 9 tiles.</p>
                <p>- The torpedo can be used once per game, instantly sinking the ship you hit if it has 2 or 1 tile left alive.</p>
                <p>- The fragment bomb can also be used once per game, it hits 5 tiles and in a + shape around the clicked location.</p>
            </div>
        </div>

    </div>
    <div class="clear" style="clear: both"></div>
    <footer class="footer">
        <p>© Ship Wars, All rights reserved, by Aurélien R, Guillaume L, Marco F, Théo V and Théophile D</p>
    </footer>


</body>

</html>